<div class="container-fruid mt-5">
  <% if flash[:success].present? %>
    <div class="alert alert-success" role="alert">
      <%= flash[:success] %>
    </div>
  <% end %>
  <% if flash[:error].present? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:error] %>
      <ul>
        <% flash[:error_messages].each do |_column, messages| %>
          <% messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="text-center">
    <% age_slider %>
  </h1>
    <div class="row">
        <div class="col-xs-12 col-xl-8 offset-xl-1">
            <canvas id="myChart" width="250" height="150"></canvas>
            <script>draw_graph();</script>
        </div>

        <div class="col-xl-3 growth-record-modal">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#growth-record-modal">
            記録する
          </button>
          <a href="<%= growth_curve_sample_edit_path %>">
            <button type="button" class="btn btn-secondary">編集する</button>
          </a>
        </div>
    </div>

<div id="growth-record-modal" class="modal fade bs-example-modal-new growth-record-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

  <div class="modal-dialog">

    <!-- Modal Content: begins -->
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
      <div class="modal-title">成長記録</div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="body-message">
          <%# form-horizontal...表示領域の幅に応じて、ラベルとフォーム部品を水平に並べる %>
          <%# form要素のclass属性にform-horizontalを指定する。 %>
          <%= form_for :growth_record, url: '/growth_curve_sample/create', class: 'form-horizontal' do |f| %>

            <div class="form-group">
              <label class="control-label col-lg-3">月齢</label>
              <div class="col-lg-6">
                <%= f.text_field :age %><input id="unit-display__age" type="text" disabled="true" value="才">
                <%= f.text_field :age_of_the_moon %><input id="unit-display__age_of_the_moon" type="text" disabled="true" value="ヶ月">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-lg-3">体重</label>
              <div class="col-lg-6">
                <%= f.text_field :weight %>
                <input id="unit-display__weight" type="text" disabled="true" value="kg">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-lg-3">身長</label>
              <div class="col-lg-6">
                <%= f.text_field :height %>
                <input id="unit-display__height" type="text" disabled="true" value="cm">
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-4">
                <button type="submit" class="btn btn-warning btn-lg mt-3">記録する</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
    <!-- Modal Content: ends -->
  </div>
</div>

